[submodule "mental-health-tracker"]
	path = mental-health-tracker
	url = git@github.com:thorbert-anson-shi/mental-health-tracker.git
[submodule "my-first-repo"]
	path = my-first-repo
	url = git@github.com:thorbert-anson-shi/my-first-repo.git
